* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows:  50px 1fr;
  width: 100vw;
  height: 100vh;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  background-color: white;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  background-color: white;
  text-align: center;
};

.tag-section, article, aside {
  border-style: solid;
  border-width: thin;
}

article {
  height: calc(100vh-50px);
  overflow: auto;
}

input[type="radio"] {
  display: block;
  margin-top: 50px;
}

footer {
  position: absolute;
  bottom: 50px;
}
.sticky-section, .tag-section {
  background-color: #ffbdc7;
}
.sticky-section img {
  margin-top: 5px;
}

.sticky-section #searchBarText {
  margin-top: 12px;
  padding: 10px 10px;
  border-radius: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #dfe1e5;
  width: 300px;
  height: 25px;
  font-size: 16px;
  color: #212121;
}

.sticky-section #searchBarText:focus {outline: none; }

.blog-section section {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-width: thick;
}
.title-box, .main-box, .tag-and-submit {
  margin: 10px;
}
.comment-area {
  display: flex;
  flex-direction: column;
  margin: 10%;

}
.add-comment, .comment-added {
  border-style: solid;
  border-width: thick;
  margin-top: 5%;
}
.post-made {
  display: flex;
  flex-direction: column;
  background-color: #ffdee3;
}
.post-made * {
  margin-top: 2%;
}
.post-made p {
  color: red;

  text-align: left;
  margin-left: 5%;
}
.post-made h4 {
  color: brown;
}
.post-made button {
  justify-content: right;
  margin-bottom: 2%;
}
.emoji-but {
  position: relative;
  display:  inline-flex;
  width: 60px;
  height: 60px;
  font-size: 200%;
}
/* hides the HTML checkbox */
.emoji-but input {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.react p {
  color: black;
  text-align: right;
}
.react {
  text-align: right;
  display: inline-flex;
  margin-right: 5%;
}

.returnedGif img {
  width: 100px;
  height: 100px;
  display: none;
  margin: 10px 0px;
}

button, .emoji-but {
  margin: 5%;
}
.emoji-info {
  margin:-2%;
  font-size: 24px;
}
.emoji-counter {
  font-size: 24px;
  color: blue !important;
}
#make-post {
  color: black;
}

.img-hover:hover, button, .submit {
  cursor: pointer;
}